body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
span {
  color: rgb(219, 53, 81);
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-top: 5%;
  padding-left: 5%;
}
.half-width img {
  width: 65%;
  padding-left: 10%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(to right, #d44a32, #ff7860);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-bigger {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.developer {
  color: rgb(87, 25, 185);
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experience-area h1 {
  padding-left: 5%;
}
.experience-item {
  box-shadow: 10px 10px 40px gray;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 10px 0px 0px 10px;
}
#noob-developer {
  border-left: 9px solid;
  border-image: linear-gradient(rgb(111, 0, 255), cyan);
  border-image-slice: 1;
}
#full-stack-developer {
  border-left: 9px solid;
  border-image: linear-gradient(rgb(111, 0, 255), rgb(230, 106, 76));
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
