body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
span {
  color: rgb(219, 53, 81);
}
section {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-top: 5%;
  padding-left: 5%;
}
.half-width img {
  width: 65%;
  padding-left: 10%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(to right, #d44a32, #ff7860);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-bigger {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
